b {
  border: 1px solid black;
  padding: 8px;
  border-radius: 10px;
  background: #ad1457;
  color: white;
  margin-bottom: 2rem;
}

.cell {
  position: relative;
}
img {
  position: absolute;
  left: 0;
  top: 0px;
  border: none;
  object-fit: cover;
  width: 100%;
}
.maze,
.path {
  display: grid;
  justify-content: center;
}
.link-wrapper {
  font-size: 1.2rem;
}
.click {
  border: none;
  background-color: cornsilk;
  font-size: larger;
}
